<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel='stylesheet' href='/static/style.css'>
</head>
<body>
  <form action="/addNewCountry">
	<h1>Create New Country</h1>
		<div class='properties'>
			<div>
                <div>Name</div>
				<div><input  name="name"></div>
			</div>
			<div>
				<div>Capital</div>
				<div><input  name="capital">
				</div>

			</div>
			<div>
				<div>Continent</div>
				<div><input  name="continent">
				</div>
			</div>
            <div>
				<div>Area</div>
				<div><input  name="area">
				</div>
			</div>
			<div>
				<div>Population</div>
				<div><input name="population"> </div>
			</div>
			<div>
				<div>GDP (million $)</div>
                <div><input name="gdp"> </div>
			</div>
            <div>
				<div>Top Level Domain (tld)</div>
                <div><input name="tld"> </div>
			</div>
            <div>
				<div>Flag</div>
                <div><input type ="file" name ="flag" /> </div>
			</div>
		</div>

		<input type="submit">
		</form>


</body>
</html>